*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Georgian", sans-serif;}
   
header{
    padding-top: 20px;
    display: flex;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 1;
    background-color: white;
    width: 100%;
    border: 2px solid red;
    justify-content: center;
}
.header-container{
    display: flex;
    width: 100%;
       justify-content: space-between;
       background-color: blue;
       border: 2px solid rgb(25, 0, 255);
       padding: 0 0 0 15px ;
}
   .header-logo{
        display: flex;
        padding: 0;
        }
.logo{
    width:40px;
    height: 40px;
    cursor: pointer;
    }
.header-meanu{
display: flex;
border:2px solid blue;
}
.menu-items-list{
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 13px;
display: none;


    
}
.menu-item{
    margin-left: 30px;
font-size: 16px;
border:2px solid red
        }

      
.subscribe{
    font-size: 12px;
    display: flex;
    align-items: center;
  text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: rgb(24, 44, 192);
     transition: color 0.3s ease-in-out;
     border: 2px solid red;
     margin-right: 10px;
}
.subscribe:hover{
    cursor: pointer;
    color: rgb(56, 89, 238)
    }
.subscribe:hover .fa-arrow-right {
    color: rgb(56, 89, 238)

}
.fa-arrow-right{
    margin-right: 8px;
    color: #182cc0;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
   
}

.header-concept{
    background-color: red;
    display: none ;
    height: 100%;
     color:   rgb(85, 95, 98);
     font-size: 20px;
font-weight: 600;
}
.header-concept span{
    display: none ;
    font-size: 27px;
    font-weight: 100;
    margin: 0;
}

.hamburger-menu{
    cursor: pointer;
    width:35px;
    padding: 0;
    background-color: aquamarine
}
.menu{
    display: flex;
    height: 100%;
 align-items: center;
 justify-content: end;
 }

.fa-magnifying-glass{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    color: rgb(85, 96, 96);
    cursor: pointer;
}
.fa-magnifying-glass:hover{
    color: rgb(56, 83, 202)
}

.hamburger-menu-bar{background-color: aquamarine;
   height: 2px;
    background-color:  rgb(108, 102, 102);
    margin:6px ;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
   width:50px;
    display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    gap: 6px; 
  }

.bar1{
    width: 9px;
   
}
.bar2{
    width:18px;

}
.bar3{
    width:15px;
  
}

.hamburger-menu.active .hamburger-menu-bar:nth-child(1){
transform: translateY(8px) rotate(-45deg);
width:20px
}

.hamburger-menu.active .hamburger-menu-bar:nth-child(2){
    opacity: 0;
}
.hamburger-menu.active .hamburger-menu-bar:nth-child(3){
    transform: translateY(-8px) rotate(45deg);
    width:20px
    }
    
    .language-container{
        display: none;
   align-items: center; 
   border: 2px solid red;
   padding: 0;
}

    .language-container div{
        width: 100px;
        height: 40px;
        border-radius: 10px; 
        padding: 0; }
    
   
    .fa-globe{
        margin-right: 5px;
        border:2px solid red
    }

    .menu-item:hover{
        cursor: pointer;
    }

    main{
        padding-top: 30px;
        /* margin-top: 80px; */
        z-index: 0;
        position: relative;
        background-color: rgb(236, 240, 241);
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    .accordion{
        padding-top: 20px;
    
    }

    .accordion .accordion-collapse{
        transition: height 0.9s ease;
     }
     .accordion-body ul{
        list-style: none;
        margin-left: 0;
        padding-left: 0;
     }
     .accordion-body ul li{
        padding-top: 10px;
     }
     .accordion-body ul li a{
       color: rgb(85, 95, 98);
       text-decoration: none;
       font-size: 14px;
       
     }
    
     .accordion-button  {
        color: rgb(20, 23, 25) !important; 
        font-weight: bold;
    font-size: 16px !important;
 }
      .accordion-item{
padding-bottom: 40px;   
   }
.accordion-button:focus, .accordion-button:active {
    box-shadow: none !important; 
    border: none !important;
    background-color: white !important;
  }

    .accordion-button::after {
        content: '';
        display: inline-block;
        margin-left: auto;
        vertical-align: middle;
        font-family: "Font Awesome 5 Free"; 
        font-weight: 400;
        transition: transform 0.9s ease; 
        transform: rotate(0deg); 
       
}

    .open-menu-bar{
        padding-top: 30px;
        opacity: 0;
        display: none;
        transition: all 0.2s ease-in-out;
        width: 100%;
        background-color: white;
    }
    .open{
        opacity: 1;
        display: block;

    }

  
  
    .main-menu{
        z-index: 0;
        width:100%;
        padding:0px 45px;
        
    }
    .english-container{
        width: 100%;
        display: flex;
        justify-content: end;
        text-align: end;
        justify-items: end;
        height: 80px;
        margin-top: -25px;
      
    }
    .english{
        display: none;
        opacity: 0;
         margin-top: 10px;
       border-radius: 10px;
        padding-left: 50px;
       }
    .english:hover{
        background-color: rgb(195, 189, 189);
        
    }
    .english-visible{
        opacity: 1;
    }

    .dropdown  {
        position: relative;
        display: inline-block;
    }


.dropdown-content {
    display: flex;
    position: absolute;
    padding-top: 20px;
    z-index: 1;
    border: 2px solid red;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    width: 130px;
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
    
}




.dropdown-content a {
    color: black;
    padding: 8px 0;
    text-decoration: none;
   }

.dropdown-content a:hover{
    color: black;
}



.show {
    display: block;
}

.lang-drop-btn{
    display: flex;
    z-index: 1;
}

.dropdown-language ul li{
    cursor: pointer;
    padding: 5px;
    border-radius: 8px
}

.dropdown-language ul li:hover{
    background-color: rgb(195, 189, 189);
}

.dropbtn{
    text-decoration: none;
    color: rgb(33, 37, 41);
    border-bottom: 0px solid red;
    transition: all 0.5s ease-in-out;
    transition: all 0.8s ease-in-out;
    border-bottom:none;
   padding-bottom: 10px;
}


.menu-container{
    position: relative;
    z-index: 0;

}
.hidden{
    display: none;
}
.additional-menu-space{
    height: 310px;
    width: 95%;
    z-index: 1;
    background-color: white;
    padding-top: 80px;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    position: absolute;
    position: fixed;
}

.additional-menu-space img{
    
    transition: all 0.5s ease-in;
    width:200px;
    border:2px solid black;
    margin-bottom: 20px;
    
    
   }
   .digital-banking{
    cursor: pointer;
    color: rgb(24, 44, 192);
    margin-top: 2px;
    font-weight: bold;
    text-decoration: none; 
      transition: color 0.3s ease; 
      height: 150px;
      width:400px;
      padding-left: 1%;
      border: 2px solid red;
   }

   .digital-banking i:hover{color: rgb(56, 89, 238)}

.visible{
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    
}
.invisible{
    visibility: hidden;

    opacity: 0
}

.contact{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
.contact-information h4, .socials h4{
    font-size: 16px;
    font-weight: bold;
    
}
.info{
    padding-top: 10px;
    color: rgb(85, 95, 98);
    font-size: 15px;
    
}
.info p{margin-top: 30px;}
.socials{
    padding-top: 30px ;
    padding-bottom: 60px;
}

.social-links{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 30px ;


}

.social-links li{
    padding-right: 50px;
    color: rgb(85, 95, 98);
    
}

.terms ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    border: 2px solid red;
    height: 100%;
    text-align: center;
    align-items: center;
}
.terms ul li{
    font-size: 12px;
    padding-right: 30px;
   
}

.small-footer{
    display:  flex;
    flex-direction: column;
   justify-content: space-between;
    text-align: center;
}
.footer-logo{border: 2px solid red;
    width: 100%;
display: flex;}

.small-footer img{
    width:50px;
    height: 50px;
}
.small-footer p{font-size: 12px;
margin-top: 20px;}

.info p i{
    padding-right: 15px;
}

.go-back{
    padding-left: 15px;
    font-size: 12px;
    margin-bottom: 40px;
}
.fa-arrow-left{font-size: 10px;
margin-right: 5px;}

.tbc-concept-container{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url('./images//main.webp');
    height: 350px;
    background-size: cover;
    background-position: center top;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0 20px;
}
.text{margin-top: 150px;}
.text p{
   font-weight: bold; 
   
}
#concept-description{
    font-weight: 100;
    font-size: 15px;
    width: 100%;
    border:2px solid red;
    height: 80px;
}
#subscribe-link{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 13px 0;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
    background: linear-gradient(to right, #00008B, #1c59c2); 

}
#sbs-txt{color: white}
.subscribe-text{
    padding-left: 20px;
    color: rgb(20, 23, 25);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    padding-top: 70px;
    padding-bottom: 70px;
    letter-spacing: 0.1;
    
}

/* //testing */

.packages-container, .statistics {
    background-color: aquamarine;
    z-index: 0;
    scroll-behavior: smooth;
}
.packages-container p{
    padding-left: 20px;
    font-size: 22px;
    font-weight: bold;
}
.packages {
    display: flex;
    overflow-x: auto;
    max-width: 100vw; 
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .packages article:first-child{
    margin-left: 20px;
  }

  .packages article {
    position: relative;
    flex: 0 0 auto; 
    min-width: 300px;
    border: 1px solid #ccc;
    margin-right: 15px;
    height: 250px;
   
  }

  /* //vtestav */



  .card, .offer-card{ background-position: center;
    background-size: cover;
    transition: transform 0.3s ease-in-out; }
  .card-1{
 
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url('./images/digital.png');
   
  }
  .card-2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url('./images/more.png');
  }
  .card-3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url('./images/premium.png');
  }

  .scroll-btns{ background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    /* top: 50%; */
    transform: translateY(-50%);
    z-index: 1;}



    /* /offers
     */


     .offer-container{
        display: flex;
        flex-direction: column;
        background-color:white;
        
        overflow: hidden;
        display: flex;
        max-width: 100vw; 
      
    }
    .offer-header{
        display: flex;
justify-content: space-between;  
padding-left: 20px;
padding-right: 20px;      
    }
    .offer{
        font-size: 14px;
        font-weight: bold;
    }
    .all-offers{font-size: 12px;
        font-weight: bold;
        text-decoration: none;
    color: rgb(24, 44, 192);}
   
    
      
    

    .offers {
        display: flex;
        
        box-sizing: border-box;
        width: fit-content;
       
        padding-left: 20px;
        gap: 20px;
       
        display: flex;
        min-width: 1680px;
        transition: transform 0.5s ease-in-out; 
      }

    
      .offer-card-parent {
        
        flex: 0 0 300px; 
       
        transition: transform 0.5s ease-in-out; 
        /* background-color: red; */
        max-width: 400px;
        min-height: 350px;
        border: 1px solid #ccc;
        margin-right: 15px;
    background-color: aqua; }

      .offer-card-img-container{
        height: 55%;
        width: 100%;
        /* background-color: rgb(189, 47, 255); */
        display: inline-block;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
      }

     .offer-card-image{
        height: 110%;
        width: 100%;
        background-color: white;
        border: 2px solid red;
        /* background-image: url('./images//offers/iveria.jpg'); */
        border-radius: 5px;
        background-position: center;
        background-size: cover;
        transition: all 0.3s ease-in-out;
        z-index: 0;
     }

     .offer-card-parent:hover .offer-card-image {
        transform: translateY(-2%); 
      }

      .overlay-div {
        position: absolute;
        top: 10%;
        right: 0;
        width: 80px; 
        height: 50px; 
        background-color: white; 
        border: 1px solid #ccc;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: all 0.3s ease; 
        
      }
      .offer-card-description{
        height: 50%;
        
        /* background-color: yellow; */
        margin: 0;
        display: flex;
        flex-direction: column;


      }
      .offer-list{
        list-style: none;
        font-size: 12px;
        cursor: pointer;
        
        font-weight: bold;
        display: flex;
        align-items: start;
        padding-top: 20px;
        /* justify-content: space-around; */
       
      }
      .offer-description{
        font-size: 16px;
        font-weight: bold;
        /* background-color: green; */
        padding-left: 40px;
        padding-right: 40px;
      }
      .offer-description:hover{cursor: pointer;}

      .offer-list li a{
        text-decoration: none;
        color: rgb(111, 120, 123);
        padding: 10px;
      }

      .offer-card{ background-position: center;
        background-size: cover;
        transition: transform 0.3s ease-in-out; }
       .image-1{
     
     
        background-image: url('./images/offers/iveria.jpg');
       
      }
       .image-2{
        background-image: url('./images/offers/tegeta.png');
      }
       .image-3{
        background-image: url('./images/offers/tegetaBatumi.png');
      }
      .image-4{
        background-image: url('./images/offers/meridien.png');
      }
      .image-5{
        background-image: url('./images/offers/colosseum.png');
      }

    

      .offers::-webkit-scrollbar {
        width: 10px !important;
        display: none;
      }

      /* //slider */

      .slider{
        height: 50px;
        width: 100%;
        background-color: aqua;
       position: relative;
        display: flex;
        flex-direction: row;
justify-content: space-between;
align-items: center !important;

padding-left: 20px;
      }
      .slider-bar{
        width: 90%;
       
        position: relative;
        align-items: center;
        background-color: red;
      }
      .slider-bar span{
        /* position: absolute; */
        display: flex;
        width:90px;
        height: 2px;
        color: blue;
        background-color: blue;
        transition: transform 0.3s ease;
    
      }
      .slider-bar span:hover{
        cursor: pointer;
      }
      .slider-btns{
        
        display: none;
        width: 10%;
justify-content: space-between;
       /* padding-left: 5px; */
       background-color: green;
       align-items: center;
       padding-top: 15px;
       margin-left: 10px;
       padding-right: 3px;
       /* padding-right: 20px; */
      }
   
   .left i{font-size: 16px !important;
    color: blue !important;
}
   

   
   .left:hover{
    cursor: pointer;
   }

   .right:hover{
    cursor: pointer;
   }

  .card-1:hover, .card-2:hover, .card-3:hover{
    
    transform: scale(1.01); 
  }

  .card-content{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    left: 20px; 
    bottom: 15px; 
    margin: 0;
    color: white;
    
  }
 
  .card-content   .fa-arrow-right{
    color: white;
   
  }
  .card-content p{
    font-size: 24px;
  }
  .card-content a {padding: 0;

color: white;
font-size: 14px;
font-weight: bold;
}

.statistics{
    padding: 120px 20px ;
   
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stastistics-card{
    height: 150px;
    /* background-color: rgb(0, 128, 255); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    
}
.numbers{
    font-size: 36px;
    font-weight: bold
}
.statistics-description{
    font-size: 14px;
    color: rgb(85, 95, 98);
}

@media(min-width:480px){
    .numbers{
        font-size: 44px;
    }
    .statistics-description{
        font-size: 16px;
    }
    .stastistics-card{
        padding-bottom: 40px;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        height: 200px;
    }
    .offer{
        font-size: 20px;
    }
    .offer-paragragh a span{
        font-size: 14px;
    }

}
@media (min-width: 768px) {
.header-container{
    width: 720px;
    background-color: aqua;
    padding: 0;
    }


    .header-concept{
        display: flex;
        cursor: pointer;
       
        margin-top: 17px;
       align-items: center;
       height: fit-content;
       padding-left: 15px;
     
    }
    .header-logo{
        background-color: green;
        align-items: center;
       
    }
    .logo{
        width: 30px;
        height: 30px;

    }
    .subscribe{
        font-size: 1rem;
        
    }
    .bar1{
        width:15px
    }
    .bar2{
        width: 24px;
    }
    .bar3{
        width:20px
    }
    .open-menu-bar{width: 720px;
}
   
    .go-back{
    padding: 0;
    width: 720px;
    border: 2px solid red;
    
}
.fa-arrow-left{
display: none ;}


.menu-container{
    width: 720px ;
    
    background-color: yellow;
    background-color: blue;
}

.tbc-concept-container{
  border-radius: 5px;

}

#concept-description{
    font-weight: 400;
   
    width:400px;
    height: 50px;
}
.concept-title{
    font-size: 1.5rem
}
#subscribe-link{
    width: 150px;
}
.subscribe-text{padding-left: 0;}
.packages-container p{
    padding-left: 0;


}


.packages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    overflow: hidden;
     grid-template-rows: repeat(2, 250px);
    gap: 30px;
  }

  .packages article {
    min-width: unset;
    margin-right: 0;
    height: auto;
    border-radius: 15px;
  }
  .card-1{
    grid-column: 1;
        grid-row: 1;
        margin-left: 0 !important;
        
  }
  .card-3{
    grid-column: 1;
    grid-row: 2;
  }

  .card-2{
    
        grid-column: 2 ;
        grid-row: 1 / span 2;
        height:500px
      
  }
  
  
}

@media (min-width: 992px) {
   header{
    padding-top:0 ;
   }
   
   .header-container{
    justify-content: center;
width: 95%;
background-color: aqua;

    
   }
   .header-meanu{
    background-color: yellow;
 
   }
   .header-concept{background-color: green; 
margin-top: 15px;}
   .header-logo{
   
    border: 2px solid green;
    background-color: brown;
    width: 10rem;
   }
    .logo{
        width:35px;
      
        border: 2px solid red;
    }
    
    .menu-items-list{
        display: flex;
        height: 100%;
        border: 2px solid red;
background-color: rgb(81, 146, 81);
width: 500px;
padding-left: 5px;

    }
   
    .menu-item a{font-size: 16px;
    }
    
    .hamburger-menu{display: none;}
   
  
       .language-container{
        display: flex;
        position: relative;
        z-index: 1;
    }
    .subscribe{font-size: 12px;
        width:170px;
    
}
.menu-container{width: 909px;}
   
    .open-menu-bar{display: none;}
    .tbc-concept-container{
        height: 400px;
    }
   
     .card-content{
        left: 60px;
        bottom: 30px;
     }
     .statistics{
        flex-direction: row;
        background-color: green;
        flex-wrap: wrap;
        justify-content: space-between;

     }
     .stastistics-card{
        flex: 1 1 30%;
     }
     .offer{
        font-size: 24px;
    }
    .offer-paragragh a span{
        font-size: 16px;
    }
    .sliderthumb{
        width: 2000px;
    }
    .slider-bar span{
        width:250px
    }
    .slider-btns{
        padding-right: 0px !important;
justify-content: space-between;    }

.left i, .right i{
    font-size: 24px !important;
}
  
 } 



 @media (min-width: 1200px) {
    header{
        width: 100%;
        border: 2px solid blue;
        overflow-x: visible;
    }
    

    .menu-items-list{
        
       padding: 0;
    }
   
.header-container{
    display: flex;
    justify-content: space-between;
   
background-color: rgb(128, 0, 79);
}
.logo{
    height: 30px;
}
.menu-container{
    background-color: rgb(255, 234, 0);
    padding: 0px;
}
.tbc-concept-container{width: 1100px;
    justify-content: center;
    padding-left: 100px;
    padding-bottom: 100px;
    
}
.subscribe-text{
    background-color: aqua;
    font-size: 2.2rem;
    line-height: 1.5;
    padding:100px 0 100px 0;
}
.packages-container, .subscribe-text, .menu-container, .additional-menu-space, .header-container{width: 1100px;}


.offer-card-parent {
        
    flex: 0 0 400px; 
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgb(225, 228, 229);
  transition: box-shadow 0.7 ease-in-out;

   
  }

  .offer-card-parent:hover{
  box-shadow: 10px 10px 25px rgba(104, 103, 103, 0.3);

  }

  .offers{
    min-width: 2180px !important;
  }
}
 
@media(min-width:2000px){
    .header-container{
        background-color: #18c05e;
    }
}