*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Georgian", sans-serif;}
   
header{
    padding-top: 20px;
    display: flex;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 1;
    background-color: white;
    width: 100%;
    border: 2px solid red;
    justify-content: center;
}
.header-container{
    display: flex;
    width: 100%;
       justify-content: space-between;
       background-color: blue;
       border: 2px solid rgb(25, 0, 255);
       padding: 0 0 0 15px ;
}
   .header-logo{
        display: flex;
        padding: 0;
        }
.logo{
    width:40px;
    height: 40px;
    cursor: pointer;
    }
.header-meanu{
display: flex;
border:2px solid blue;
}
.menu-items-list{
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 13px;
display: none;


    
}
.menu-item{
    margin-left: 30px;
font-size: 16px;
        }
.subscribe{
    font-size: 12px;
    display: flex;
    align-items: center;
  text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: rgb(24, 44, 192);
     transition: color 0.3s ease-in-out;
     border: 2px solid red;
     margin-right: 10px;
}
.subscribe:hover{
    cursor: pointer;
    color: rgb(56, 89, 238)
    }
.subscribe:hover .fa-arrow-right {
    color: rgb(56, 89, 238)

}
.fa-arrow-right{
    margin-right: 8px;
    color: #182cc0;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
   
}

.header-concept{
    display: none;
    height: 100%;
     color:   rgb(85, 95, 98);
     font-size: 20px;
font-weight: 600;
}
.header-concept span{
    font-size: 27px;
    font-weight: 100;
    margin: 0;
}

.hamburger-menu{
    cursor: pointer;
    width:35px;
    padding: 0;
}
.menu{
    display: flex;
    height: 100%;
 align-items: center;
 justify-content: end;
 }

.fa-magnifying-glass{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    color: rgb(85, 96, 96);
    cursor: pointer;
}
.fa-magnifying-glass:hover{
    color: rgb(56, 83, 202)
}

.hamburger-menu-bar{
   height: 2px;
    background-color:  rgb(108, 102, 102);
    margin:6px ;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
   width:50px;
    display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    gap: 6px; 
  }

.bar1{
    width: 9px;
   
}
.bar2{
    width:18px;

}
.bar3{
    width:15px;
  
}

.hamburger-menu.active .hamburger-menu-bar:nth-child(1){
transform: translateY(8px) rotate(-45deg);
width:20px
}

.hamburger-menu.active .hamburger-menu-bar:nth-child(2){
    opacity: 0;
}
.hamburger-menu.active .hamburger-menu-bar:nth-child(3){
    transform: translateY(-8px) rotate(45deg);
    width:20px
    }
    
    .language-container{
        display: none;
   align-items: center; 
   border: 2px solid red;
   padding: 0;
}

    .language-container div{
        width: 100px;
        height: 40px;
        border-radius: 10px; 
        padding: 0; }
    
   
    .fa-globe{
        margin-right: 5px;
        border:2px solid red
    }

    .menu-item:hover{
        cursor: pointer;
    }

    main{
        margin-top: 80px;
        z-index: 0;
        position: relative;
        background-color: rgb(0, 85, 255);
    }
    .accordion{
        padding-top: 20px;
    
    }

    .accordion .accordion-collapse{
        transition: height 0.9s ease;
     }
     .accordion-body ul{
        list-style: none;
        margin-left: 0;
        padding-left: 0;
     }
     .accordion-body ul li{
        padding-top: 10px;
     }
     .accordion-body ul li a{
       color: rgb(85, 95, 98);
       text-decoration: none;
       font-size: 14px;
       
     }
    
     .accordion-button  {
        color: rgb(20, 23, 25) !important; 
        font-weight: bold;
    font-size: 16px !important;
 }
      .accordion-item{
padding-bottom: 40px;   
   }
.accordion-button:focus, .accordion-button:active {
    box-shadow: none !important; 
    border: none !important;
    background-color: white !important;
  }

    .accordion-button::after {
        content: '';
        display: inline-block;
        margin-left: auto;
        vertical-align: middle;
        font-family: "Font Awesome 5 Free"; 
        font-weight: 400;
        transition: transform 0.9s ease; 
        transform: rotate(0deg); 
       
}

    .open-menu-bar{
        opacity: 0;
        display: none;
        transition: all 0.2s ease-in-out;
        width: 100%;
    }
    .open{
        opacity: 1;
        display: block;

    }

    main{
        display: flex;
        justify-content: center;
    }
  
    .main-menu{
        z-index: 0;
        width:100%;
        padding:0px 45px;
        
    }
    .english-container{
        width: 100%;
        display: flex;
        justify-content: end;
        text-align: end;
        justify-items: end;
        height: 80px;
        margin-top: -25px;
      
    }
    .english{
        display: none;
        opacity: 0;
         margin-top: 10px;
       border-radius: 10px;
        padding-left: 50px;
       }
    .english:hover{
        background-color: rgb(195, 189, 189);
        
    }
    .english-visible{
        opacity: 1;
    }

    .dropdown  {
        position: relative;
        display: inline-block;
    }


.dropdown-content {
    position: absolute;
    margin-top: 20px;
    z-index: 1;
    display: none;
    opacity: 0;
    flex-direction: column;
    width: 130px;
    padding-top: 20px;
    
    
}




.dropdown-content a {
    color: black;
    padding: 8px 0;
    text-decoration: none;
   }

.dropdown-content a:hover{
    color: black;
}



.show {
    display: block;
}

.lang-drop-btn{
    display: flex;
    z-index: 1;
}

.dropdown-language ul li{
    cursor: pointer;
    padding: 5px;
    border-radius: 8px
}

.dropdown-language ul li:hover{
    background-color: rgb(195, 189, 189);
}

.dropbtn{
    text-decoration: none;
    color: rgb(33, 37, 41);
    border-bottom: 0px solid red;
    transition: all 0.5s ease-in-out;
    transition: all 0.8s ease-in-out;
    border-bottom:none;
   padding-bottom: 10px;
}



.additional-menu-space{
    height: 230px;
    width: 95%;
    z-index: 0;
    background-color: blueviolet;
    padding-top: 40px;
    display: none;
    opacity: 0;
    flex-direction: column;
}

.additional-menu-space img{
    
    transition: all 0.5s ease-in;
    width:200px;
    height: 200px;
    border:2px solid black;
    
    
   }
   .digital-banking{
    cursor: pointer;
    color: rgb(24, 44, 192);
    margin-top: 2px;
    font-weight: bold;
    text-decoration: none; 
      transition: color 0.3s ease; 
      
      width:400px;
      padding-left: 1%;
   }

   .digital-banking i:hover{color: rgb(56, 89, 238)}

.visible{
    display: flex;
    opacity: 1;
    
}
.invisible{
    display:none;
    opacity: 0
}

.contact{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
.contact-information h4, .socials h4{
    font-size: 16px;
    font-weight: bold;
    
}
.info{
    padding-top: 10px;
    color: rgb(85, 95, 98);
    font-size: 15px;
    
}
.info p{margin-top: 30px;}
.socials{
    padding-top: 30px ;
    padding-bottom: 60px;
}

.social-links{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 30px ;


}

.social-links li{
    padding-right: 50px;
    color: rgb(85, 95, 98);
    
}

.terms ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 40px;
}
.terms ul li{
    font-size: 12px;
    padding-right: 30px;
   
}

.small-footer{
    display:  flex;
    flex-direction: row;
   
    text-align: center;
    align-items: center;
    padding-left: 20px;
}
.small-footer img{
    width:50px;
    height: 50px;
}
.small-footer p{font-size: 12px;
margin-top: 20px;}

.info p i{
    padding-right: 15px;
}



@media (min-width: 768px) {
  
   .header-container{
    padding-right: 20px;
    padding-left: 30px;
    
   }
    .header-concept{
        display: flex;
        cursor: pointer;
        align-items: center;
     
    }
    .subscribe{
        font-size: 1rem;
        
    }
    .bar1{
        width:15px
    }
    .bar2{
        width: 24px;
    }
    .bar3{
        width:20px
    }
    .accordion{
        padding-right: 12px; 
        padding-left: 10px;
    }
}    


@media (min-width: 992px) {
   header{
    padding-top:10px ;
    
   }
   
   .header-container{
    justify-content: space-between;
width: 95%;
background-color: aqua;
padding-left: 0;
padding-right: 0;
    
   }
   .header-meanu{
    background-color: yellow;
 
   }
   .header-logo{
   
    border: 2px solid green;
    align-items: center;
    background-color: brown;
    width: 10rem;
   }
    .logo{
        width:35px;
      
        border: 2px solid red;
    }
    .concept{
background-color: aquamarine;    }
    .menu-items-list{
        display: flex;
        height: 100%;
        border: 2px solid red;
background-color: green;

    }
   
    .menu-item a{font-size: 16px;
    }
    
    .hamburger-menu{display: none;}
   
     .header-concept{
         cursor: pointer;
         margin-top: 10px;
         
      
     }
       .language-container{
        display: flex;
        position: relative;
        z-index: 1;
    }
    .subscribe{font-size: 12px;
        width:200px;
    
}
   
    .open-menu-bar{display: none;}
  
 } 



 @media (min-width: 1200px) {
    header{
        width: 100%;
        overflow-x: visible;
        padding: 15px 0;
    }
    

    .menu-items-list{
        margin-right: 100px;
       padding: 0;
    }
   
.header-container{
    width: 1200px;
display: flex;
}
.additional-menu-space{width: 1200px;}
}
 
